<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>

	<link rel="stylesheet" href="public/css/style.css">

	<!-- Connect scripts -->
	<script src="/public/app/core/component.js"></script>
	<script src="/public/app/core/request.js"></script>
	<script src="/public/app/core/route.js"></script>
	<script src="/public/app/core/out.js"></script>

	<!-- Components -->
	<script src="/public/app/components.js"></script>
	
	<!-- Controllers -->
	<script src="/public/app/controllers.js"></script>
	
	<!-- Routes -->
	<script src="/public/app/routes.js"></script>

	<!-- Client -->
	<script src="/public/app/core/client.js"></script>

	<!-- Start app -->
	<script src="/public/app/script.js"></script>

</head>
<body>

</body>
</html>