<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>

	<link rel="stylesheet" href="public/css/style.css">

	<!-- Connect core scripts (no dependencies) -->
	<script src="/public/app/core/component.js"></script>
	<script src="/public/app/core/request.js"></script>
	<script src="/public/app/core/create.js"></script>
	<script src="/public/app/core/route.js"></script>
	<script src="/public/app/core/out.js"></script>
	<!-- Client -->
	<script src="/public/app/core/client.js"></script>

	<!-- Connect core scripts (with dependencies) -->
	<script src="/public/app/core/form.js"></script> <!-- (create.js) -->

	<!-- Connect other scripts -->
	<!-- Components (component.js) -->
	<script src="/public/app/components.js"></script>
	
	<!-- Controllers -->
	<script src="/public/app/controllers.js"></script>
	
	<!-- Routes (route.js, controllers.js) -->
	<script src="/public/app/routes.js"></script>

	<!-- Start app -->
	<script src="/public/app/script.js"></script>

</head>
<body>

</body>
</html>